@import url(https://fonts.googleapis.com/css?family=Roboto:500&display=swap);

body {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
  background: url("../img/bg.svg") center / cover no-repeat;
}

.wrapper {
  overflow: clip;
}

.container {
  min-height: 100vh;
  max-width: 1246px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  align-items: flex-start;
}

.logo {
  display: inline-block;
  margin: 0 0 57px;
}

.content {
  flex: 0 0 48.7%;
  padding-top: 200px;
  padding-bottom: 30px;
}

.content h1 {
  font-weight: 500;
  font-size: 55px;
  letter-spacing: -2%;
  margin: 0 0 40px;
  color: #142126;
}

.content h1 span {
  color: #14212659;
}

.image {
  object-fit: contain;
}

.content p {
  line-height: 1.5;
  margin: 0 0 40px;
  color: #14212680;
  max-width: 480px;
}

.content form {
  max-width: 489px;
  display: flex;
  gap: 10px;
}

.content form input {
  flex: 1 1 auto;
  padding: 12px 20px;
  box-shadow: 0px 6px 13.7px 0px #04333417;
  background-color: #fff;
  border-radius: 62px;
  font-size: 16px;
  line-height: 1.5;
  border: none;
  color: #142126;
  outline: none;
}

.content form input::placeholder {
  color: #667085;
}

.content form button {
  padding: 12px 20px;
  background-color: #003f41;
  border-radius: 62px;
  font-weight: 500;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.content form button:hover {
  background-color: #015e61;
}

@media (max-width: 1024px) {
  .logo {
    margin-bottom: 30px;
  }
  .content h1 {
    font-size: 40px;
  }
  .content {
    padding-top: 100px;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .content h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .content {
    padding-top: 50px;
  }
  .image {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .content form {
    flex-direction: column;
  }
}
